* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
    min-height: 100%;
    scroll-behavior: smooth;
}

.desktop {
    display: none;
}

@media (min-width: 768px) {
    .desktop {
        display: initial;
    }
}

.side-menu {
    position: absolute;
    top: 30%;
    left: 5%;
    background: none;
    list-style: none;
    text-align: left;
    color: #ffffff;
}


.side-menu li a {
    text-decoration: none;
    color: transparent;
}

.side-menu li a:hover {
    color: #ffffff;
}





header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

header a {
    color: #ffffff;
}

header nav a {
    text-decoration: none;
    padding: 10px 15px;
}

header nav.center {
    text-align: center;
}

header nav.right {
    text-align: right;

}

header nav a:hover {
    background: #5d5f69;
}

header a svg {
    height: 24px;
    width: 120px;
}


section {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

section .content {
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
}

section .content h1 a {
    font-size: 24px;
    width: 200px;
    height: 100px;
    padding-top: 5px;
}

section .model-3 {
    font-size: 40px;
    color: #ffffff;
}

section a {
    font-size: 18px;
    color:#ffffff;
}

.container {
    position: relative;
    width: 1004px;
    margin: 0 auto;
}

section .bott-content {
    position: absolute;
    bottom: 20px;
    left: 230px;
}

section .bott-content li {
    font-weight: bold;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
}

.buy-now {
    text-decoration: none;
    font-size: 22px;
    position: absolute;
    bottom: 30px;
    right: 150px;
    background: none;
    border: 3px #ffffff solid;
    padding: 7px 40px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}


.buy-now:hover {
    color: rgb(6, 6, 6);
    background: #ffffff;
}

.blink {
    color: black;
}

/*SECTION - SAFETY*/

.safety-2 {
    float: right;
    text-align: left;
    width: 19.6%;
    margin-right: 5px;
    margin-top: 10%;
}

#p-safety {
    font-weight: bold;
}

#bfs {
    font-weight: bold;
    font-size: 20px;
}

.box {
    border-left:4px black solid;
}

#stick-box {
    position: relative;
    height: 990px;
    width: 1000px;
    float: right;
}


#box-1 {
    border-left:4px black solid;
    position: absolute;
    right:1px;
    top: 28px;
    width: 34%;
    height: 130px;
}

#box-2 {
    border-left:4px black solid;
    position: absolute;
    right: 485px;
    top: 150px;
    height: 170px;
}

#box-3 {
    border-left:4px black solid;
    position: absolute;
    top: 41%;
    right: 15%;
    width: 200px;
    height: 20%;
}

#safety-stick {
    margin-left: 5px;
}

#safety-stick-down {
    margin-left: 5px;
}

#box-3 p {
    position: absolute;
    bottom: 5px;
}

